<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="container">
    <h4>This is the displayAngel view.</h4>
    <form>
      <p>Type in company name</p>
      <input ng-model="company" required>
      <button ng-click="Angel.getAngel(company)">Get Angel List Data</button>
    </form>
    <br></br>
    <h4 ng-if="companyData.companyInfo.name">{{companyData.companyInfo.name}}</h4>
    <p ng-if="companyData.companyInfo.product_desc">{{companyData.companyInfo.product_desc}}</p>

    <p ng-if="companyData.companyInfo.facebook_url"><a href="{{companyData.companyInfo.facebook_url}}" target="_blank">Facebook</a></p>

    <p ng-if="companyData.companyInfo.twitter_url"><a href="{{companyData.companyInfo.twitter_url}}" target="_blank">Twitter</a></p>

    <p ng-if="companyData.companyInfo.blog"><a href="{{companyData.companyInfo.blog_url}}" target="_blank">Blog</a></p>

    <p ng-if="companyData.crunchbase.properties.founded_on">Founded on: {{companyData.crunchbase.properties.founded_on}}</p>
    <button ng-if="companyData.crunchbase.relationships.news.items" ng-click="Angel.getNews(companyData.crunchbase.relationships.news.items)">Get News</button>
    <div ng-if="articleText">
      <ul ng-repeat="article in articleText">
        <li>
          <a href="{{article.url}}">{{article.title}}</a>
          <p>{{article.body | limitTo: 400}}</p>
        </li>
      </ul>
    </div>
    <div ng-if="companyData.crunchbase">
      <h4>Total Funding</h4>
      <p>${{companyData.crunchbase.properties.total_funding_usd}}</p>
    </div>
    <div ng-if="companyData.jobs">
      <h4>Jobs</h4>
      <ul ng-repeat="job in companyData.jobs">
        <li>
          <h5>{{job.title}}</h5>
          <p>Salary Range: ${{job.salary_min}} - ${{job.salary_max}}</p>
          <p>Equity Range: {{job.equity_min}}% - {{job.equity_max}}%</p>
          <a href="{{job.jobUrl}}" target="_blank">Learn More</a>
        </li>
      </ul>
    </div>
    <div ng-if="companyData.foundersOnly">
      <h4>Founders</h4>
      <ul ng-repeat="founder in companyData.foundersOnly">
        <li>
          <h5 ng-click="Angel.getEmployee(founder.tagged.id)">{{founder.tagged.name}}</h5>
        </li>
      </ul>
    </div>
    <div ng-if="companyData.staffFiltered">
      <h4>People with Titles</h4>
      <ul ng-repeat="staff in companyData.staffFiltered">
        <li>
          <h5 ng-click="Angel.getEmployee(staff.tagged.id)">{{staff.tagged.name}}</h5>
          <p>Role: {{staff.role}}</p>
          <p ng-show="staff.title && staff.title !== ''">Title: {{staff.title}}</p>
        </li>
      </ul>
    </div>
    <div ng-if="companyData.allEmployees">
      <h4>Everyone</h4>
      <ul ng-repeat="employee in companyData.allEmployees">
        <li>
          <h5 ng-click="Angel.getEmployee(employee.tagged.id)">{{employee.tagged.name}}</h5>
          <p>Role: {{employee.role}}</p>
          <p ng-show="employee.title && employee.title !== ''">Title: {{employee.title}}</p>
        </li>
      </ul>
    </div>
    <h4 ng-if="companyData.employees">People</h4>
    <ul ng-repeat="employee in companyData.employees">
      <li>
        <h5 ng-click="Angel.getEmployee(employee.tagged.id)">{{employee.tagged.name}}</h5>
        <p>Role: {{employee.role}}
        <p ng-show="employee.title && employee.title !== ''">Title: {{employee.title}}</p>
      </li>
    </ul>
  </div>
  <div ng-if="userData" class="container">
    <h1>{{userData.aboutUser.name}}</h1>
    <img src="userData.aboutUser.image">
    <p><a href="{{userData.aboutUser.linkedin_url}}" target="_blank">LinkedIn</a></p>
    <div ng-if="userData.aboutUser.bio">
      <h4>Bio</h4>
      <p ng-if="userData.aboutUser.bio">{{userData.aboutUser.bio}}</p>
    </div>
<!--     <div ng-if="userData.aboutUser.roles">
      <h4>Roles</h4>
      <ul ng-repeat="role in userData.aboutUser.roles">
        <li>{{role.display_name}}</li>
      </ul>
    </div> -->
    <div ng-if="userData.startupRoles">
      <h4>Positions</h4>
      <ul ng-repeat="position in userData.startupRoles">
        <li ng-show="position.title && position.title!==''">{{position.title}} at {{position.startup.name}}</li>
        <li ng-hide="position.title && position.title!==''">{{position.role}} at {{position.startup.name}}</li>
      </ul>
    </div>
    <div ng-if="userData.aboutUser.skills">
      <h4>Skills</h4>
      <ul ng-repeat="skill in userData.aboutUser.skills">
        <li>{{skill.display_name}} (Level: {{skill.level}})</li>
      </ul>
    </div>
  </div>
</div>
