<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="container">
    <h4>This is the displayAngel view.</h4>
    <form>
      <p>Type in company name</p>
      <input ng-model="company" required>
      <button ng-click="Angel.getAngel(company)">Get Angel List Data</button>
    </form>
    <br></br>
    <h4 ng-if="companyData.companyInfo.name">{{companyData.companyInfo.name}}</h4>
    <p ng-if="companyData.companyInfo.product_desc">{{companyData.companyInfo.product_desc}}</p>

    <p ng-if="companyData.companyInfo.facebook_url"><a href="{{companyData.companyInfo.facebook_url}}" target="_blank">Facebook</a></p>

    <p ng-if="companyData.companyInfo.twitter_url"><a href="{{companyData.companyInfo.twitter_url}}" target="_blank">Twitter</a></p>

    <h4 ng-if="companyData.jobs">Jobs</h4>
    <ul ng-repeat="job in companyData.jobs">
      <li>
        <h5>{{job.title}}</h5>
        <p>Salary Range: ${{job.salary_min}} - ${{job.salary_max}}</p>
      </li>
    </ul>
    <h4 ng-if="companyData.employees">People</h4>
    <ul ng-repeat="employee in companyData.employees">
      <li>
        <h5 ng-click="Angel.getEmployee(employee.tagged.id)">{{employee.tagged.name}}</h5>
        <p>Role: {{employee.role}}
        <p ng-show="employee.title && employee.title !== ''">Title: {{employee.title}}</p>
      </li>
    </ul>
  </div>
  <div ng-if="userData" class="container">
    <h1>{{userData.aboutUser.name}}</h1>
    <img src="userData.aboutUser.image">
    <p><a href="{{userData.aboutUser.linkedin_url}}" target="_blank">LinkedIn</a></p>
    <p ng-if="userData.aboutUser.bio">{{userData.aboutUser.bio}}</p>
    <h4 ng-if="userData.aboutUser.roles">Roles</h4>
    <ul ng-repeat="role in userData.aboutUser.roles">
      <li>{{role.display_name}}</li>
    </ul>
    <h4 ng-if="userData.aboutUser.skills">Skills</h4>
    <ul ng-repeat="skill in userData.aboutUser.skills">
      <li>{{skill.display_name}} (Level: {{skill.level}})</li>
    </ul>
  </div>
</div>
